//
.type-5 .widget {
  margin-bottom: 50px;
}
.type-5 .widget img {
  max-width: 100%;
}
.type-5 .clearfix::before {
  content: " ";
  display: table;
}
.type-5 .clearfix:after {
  clear: both;
  content: " ";
  display: table;
}
.type-5 .text-center {
  text-align: center;
}
.type-5 a,
.type-5 a:visited {
  color: #272727;
  background: transparent;
}
.type-5 img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  transform-style: preserve-3d;
  vertical-align: middle;
  border: 0;
}
