.type-7 {
  margin-bottom: 50px;
}
.type-7 html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.type-7 h1,
.type-7 h2,
.type-7 h3,
.type-7 h4,
.type-7 h5 {
  font-family: "Montserrat", sans-serif;
}
.type-7 a {
  text-decoration: none;
  background: transparent;
  color: #272727;
  transition: .4s;
}
.type-7 a:hover {
  text-decoration: none;
}
.type-7 h4.widget-title {
  font-size: 1.272em;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  display: inline-block;
  margin: 0px;
  margin-bottom: -2px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f8c12c;
}
.type-7 .widget-title-wrap {
  display: block;
  text-align: left;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}
.type-7 ul {
  padding: 0px;
  margin: 0px;
  margin-top: -5px;
}
.type-7 ul li {
  list-style: none;
  clear: both;
  padding: 5px 0px;
}
.type-7 .grey {
  margin-top: 10px;
  font-size: 90%;
  line-height: 1.5;
  font-style: italic;
  opacity: 0.5;
  display: inline-block;
}
.type-7 .grey:hover {
  color: #f8c12c;
}
.type-7 .widget-text {
  display: inline-block;
  float: left;
  width: calc(35%);
}
.type-7 .widget-text p {
  margin-bottom: 0px;
  margin-top: 7px;
}
.type-7 .widget-text i {
  margin-right: 5px;
}
.type-7 .widget-text p.small {
  margin: 0px;
  color: #272727;
  font-style: italic;
  font-size: 80%;
  line-height: 1.2;
}
.type-7 .widget-image-thumb {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
