.type-30 .extra-margin {
  margin-bottom: 25px;
}
.type-30 h3,
.type-30 h4,
.type-30 h5 {
  font-family: "Montserrat", sans-serif;
  color: #272727;
  line-height: 1.4;
  font-weight: 700;
}
.type-30 h3 {
  font-size: 1.618em;
}
.type-30 h4 {
  margin: 10px 0px;
  font-size: 1.272em;
}
.type-30 .comment-row {
  margin-bottom: 40px;
  position: relative;
}
.type-30 .comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.type-30 .comment-header h5 {
  margin: 0px;
}
.type-30 .comment-header img {
  margin-right: 10px;
}
.type-30 .alignnone {
  margin: 0px;
}
.type-30 img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  transform-style: preserve-3d;
  vertical-align: middle;
  border: 0;
}
.type-30 h5 {
  font-size: 1em;
}
.type-30 .comment-time {
  margin: 0px;
  text-transform: uppercase;
  color: #202020;
  font-size: 12px;
}
.type-30 .comment-reply {
  position: absolute;
  top: 0px;
  right: 0px;
}
.type-30 a,
.type-30 a:visited {
  color: #272727;
}
.type-30 a {
  background: transparent;
  text-decoration: none;
}
.type-30 a:hover,
.type-30 a:focus,
.type-30 a:active {
  color: #f8c12c;
}
.type-30 p {
  margin-bottom: 15px;
  margin: 0 0 10px;
}
.type-30 .comment-margin-left {
  margin-left: 50px;
}
