@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.module-36 {
  font-family: 'Work Sans', sans-serif;
}
.module-36 .carousel .carousel-cell {
  position: relative;
}
.module-36 .carousel .carousel-cell a img {
  width: 700px;
  height: 500px;
}
.module-36 .carousel .carousel-cell a .content {
  position: absolute;
  bottom: 20px;
  background: rgba(0,0,0,0.7);
  padding: 15px 80px;
  width: 100%;
  color: #fff;
}
.module-36 .carousel .carousel-cell a .content h5 {
  font-weight: 700;
}
.module-36 .carousel .flickity-page-dots {
  display: none;
}
.module-36 .carousel .flickity-prev-next-button {
  display: none;
}
.module-36 .carousel .flickity-button {
  position: absolute;
  background: #202020;
  border: none;
  color: #fff;
}
.module-36 .carousel:hover .flickity-prev-next-button {
  display: inline;
}
.module-36 .carousel:hover .flickity-button:hover {
  position: absolute;
  background: #fff;
  border: none;
  color: #202020;
}
