.type-10 {
  text-align: center;
}
.type-10 h2, 
.type-10 .nav-links .prev,
.type-10 .nav-links .next {
  display: none;
}
.type-10 a {
  text-decoration: none;
  background: transparent;
  color: #272727;
  transition: .4s;
}
.type-10 a:hover {
  text-decoration: none;
}
.type-10 .nav-links {
  display: block;
  line-height: 1.42857143;
  text-align: center;
}
.type-10 .nav-links span {
  padding: 6px 12px;
  border-radius: 2px;
  background: transparent;
  color: #202020;
  display: inline-block;
  white-space: normal;
  border: 2px solid #202020;
  font-size: 85%;
  text-transform: uppercase;
  box-shadow: none;
}
.type-10 .nav-links .current {
  background: #f8c12c;
  color: #202020;
  border-color: #f8c12c;
}
.type-10 .nav-links a {
  padding: 6px 12px;
  border-radius: 2px;
  background: transparent;
  color: #202020;
  display: inline-block;
  white-space: normal;
  border: 2px solid #eee;
  font-size: 85%;
  text-transform: uppercase;
  box-shadow: none;
}
