.type-9 {
  margin-bottom: 50px;
}
.type-9 html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}
.type-9 h1,
.type-9 h2,
.type-9 h3,
.type-9 h4,
.type-9 h5 {
  font-family: "Montserrat", sans-serif;
}
.type-9 a {
  text-decoration: none;
  background: transparent;
  color: #272727;
  transition: .4s;
}
.type-9 a:hover {
  text-decoration: none;
}
.type-9 h4.widget-title {
  font-size: 1.272em;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  display: inline-block;
  margin: 0px;
  margin-bottom: -2px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f8c12c;
}
.type-9 .widget-title-wrap {
  display: block;
  text-align: left;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
}
.type-9 .travelog-form h4 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.272em;
}
.type-9 .subscribe {
  position: static;
  display: block;
  width: 100%;
  border: none;
  margin-top: 10px;
  background: #202020;
  color: #fff;
  text-transform: uppercase;
}
.type-9 .subscribe:hover {
  transition: .4s;
  background-color: #f8c12c;
}
.type-9 input.form-control.email {
  min-height: 40px;
  text-align: center;
  font-size: 13px;
}
