//
.type-31 h1,
.type-31 h2,
.type-31 h3,
.type-31 h4,
.type-31 h5,
.type-31 h6 {
  font-family: "Montserrat", sans-serif;
  color: #272727;
}
.type-31 a:hover,
.type-31 a:focus,
.type-31 a:active {
  color: #f8c12c;
  text-decoration: none;
}
.type-31 a,
.type-31 a:visited {
  color: #272727;
}
.type-31 .next-post.padding,
.type-31 .prev-post.padding {
  padding: 50px 0px;
}
.type-31 .next-post,
.type-31 .prev-post {
  position: relative;
  background-position: center center;
  background-size: cover;
}
.type-31 .col-sm-6 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.type-31 .next-prev .overlay {
  background: rgba(255,255,255,0.85);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.type-31 .caption-holder {
  z-index: 2;
  position: relative;
  padding: 0px 20px;
}
.type-31 .animation {
  transition: all 0.2s ease;
  line-height: 1.4;
  color: #272727;
  font-weight: bold;
}
.type-31 .next-post:hover .overlay,
.type-31 .prev-post:hover .overlay {
  background: rgba(0,0,0,0.4);
}
.type-31 .next-post:hover .animation,
.type-31 .prev-post:hover .animation {
  color: white;
}
